@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Склад</h1>
    <p>Управляйте поступлениями и отгрузками удобно!</p>
</div>
<div class="text-center">
    <a asp-action="Privacy">Политика конфиденциальности</a>
</div>
