.sidebar {
    width: 270px;
    background-color: #e7bc91;
    height: 100vh;
}

.sidebar-header {
    background-color: #c6a980;
    color: #333;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.sidebar-header a {
    color: inherit;
    text-decoration: none;
}

.sidebar-section {
    padding: 30px 15px;
    border-top: 1px solid #333;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #e7bc91;
    color: #333;
}

::deep .sidebar-link {
    padding: 20px 15px 30px 25px;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    background-color: #e7bc91;
    text-decoration: none;
}

::deep .sidebar-link:hover {
    background-color: #f3d5b5;
}

.main-content {
    color: #333;
    padding: 15px;
    background-color: #cfb086;
}