@media (min-width: 573.98px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 220px;
        height: 100vh;
        overflow: auto;
        z-index: 1020;
    }

    main {
        margin-left: 220px;
    }
}

main {
    min-height: 100vh;
}

.container-fluid {
    min-width: fit-content;
}

::deep .link__hover:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.2s;
}
