@model Warehouse.Web.Models.Resource.ResourceViewModel
@{
    ViewData["Title"] = "Ресурс";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="text-dark text-truncate">@ViewData["Title"]</h2>
            <div class="d-flex flex-wrap flex-sm-nowrap">
                <button type="submit" form="editForm" class="btn btn-dark link__hover text-truncate me-2 mb-2">Сохранить</button>
                <form method="post" asp-action="Delete" class="me-2 mb-2">
                    <input type="hidden" asp-for="Id"/>
                    <button type="submit" class="btn btn-dark link__hover text-truncate" onclick="return confirm('Вы уверены?')">Удалить</button>
                </form>
                <form method="post" asp-action="ChangeStatus" class="me-2 mb-2">
                    <input type="hidden" asp-for="Id"/>
                    <button type="submit" class="btn btn-dark link__hover text-truncate">В архив</button>
                </form>
                <a asp-action="Index" class="btn btn-dark link__hover text-truncate me-2 mb-2">Назад к списку</a>
            </div>
            <br>
            <form id="editForm" method="post" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label class="control-label w-100 text-truncate">Наименование</label>
                    <input asp-for="Title"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
