@model Warehouse.Web.Models.Resource.ResourcesListViewModel

@{
    ViewData["Title"] = "Ресурсы";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-dark text-truncate">@ViewData["Title"]</h2>
            <div>
                <a class="btn btn-dark text-truncate" asp-controller="Resource" asp-action="Add">Добавить</a>
                <a class="btn btn-dark text-truncate" asp-controller="Resource" asp-action="Archieve">К архиву</a>
            </div>
        </div>
    </div>
    <br>
    <table class="table table-hover border border-dark w-100">
        <thead>
            <tr>
                <th class="text-truncate" scope="col">
                    @Html.DisplayName("Наименование")
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ResourcesList is not null)
            {
                foreach (var resource in Model.ResourcesList)
                {
                    <tr>
                        <td class="text-truncate">
                            @Html.DisplayFor(modelItem => resource.Title)
                        </td>
                    </tr>
                }
            }
            else
            {
                <p>Нет доступных ресурсов.</p>
            }
        </tbody>
    </table>
</div>